@charset "UTF-8";

/* 共通パーツ */
html{
    font-size: 16px;
}

body{
    min-height: 100vh;
    background:  linear-gradient(#0268C7, #4FAAFD,#FBE232);

}

#login{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0 0 0;
    /* margin-top: 200px; */
}
/* ヘッダーエリア */
.header{
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    /* margin: 0 auto; */
}

.head_logo{
    /* width: 40%; */
    height: 50px;
    /* size: 20ch; */


}

.head_text{
    font-size: 30px; /* ② */
    padding: 5px;
    color: #ffffff;
}
/* ウィンドウエリア */

#container{

    max-width: 21%;
    max-height: 70%;
    background-color:rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto;
}

.login-text{
 text-align: center;
 font-size:17px;
 color: #ffffff;
 padding: 0 0 35px 0;
}

.form{
    margin: 0,auto;
}

.form-wrapper{
    padding: 0 0 20px 0;
    color: #ffffff;


}
.input{

    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 2px;
    outline: none;
    border: 1px,solid #b1b1b1;
    border-style: none;
    appearance: none;
    margin-top: 10px;
}

.form-button{
    margin-right: auto;
    text-align: right;


}

.button{
    font-size: 1.25rem;
    color: #ffffff;
    background-color: #dc143c;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    padding: 2px;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;


    /* margin-left: 64%; */
}

.login-text-s{
 text-align: center;
 font-size:15px;
 color: #ffffff;
 padding: 20px 0 0 0;
}

.text{
    color: rgb(255, 255, 255);
}

/* 新規作成エリア*/

.register-text{
    text-align: center;
 font-size:1.5rem;
 color: #ffffff;
 margin: 20px;
}



.register-text-s{
     text-align: center;
 font-size:1.2rem;
 color: #ffffff;
 padding: 20px 0 0 0;
}

/*ようこそエリア*/


#clear{
     text-align: center;
}
.welcome-name{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
}

.welcome-message{
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 40px;
}

.login-btn{
    text-align: center;
    margin: 0,auto;
}

.alert-danger{
    color: rgb(130, 28, 28);
    padding: 10px;
}

.btn{

    display: inline-block;
    font-size: 1.15rem;
    color: #ffffff;
    background-color: #dc143c;
    border-radius: 5px;
    width: 45%;
    height: 40px;
    padding: 2px;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
}
