@charset "utf-8";
html{
}
body{
}
/* header */
header{

}

#head{
    background:#186AC9;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

h1{

    width: 30%;
}

.top_head_logo{
    width: 25%;
    padding: 15px;
}

#ac-menu{
    text-align: right;
    margin-left: auto;
}

.menu{
    width: 20%;
    text-align: center;
    margin-left: auto;
}

.menu__item {
  background: #186AC9;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-bottom: 1px;
  position: relative;
}
.menu__item__link {
  color: #fff;
  display: block;
  padding: 1rem;
}

.submenu {
  background: #fff;
  display: none;
}
.submenu__item {
  border-bottom: 1px solid #000080;
  color: #a9a9a9;
  padding: 1rem;
}

a:visited{
    color: #fff;
}
/* side ber */

#side-bar{
 max-width: 90%;
}

.name{
    margin-top: 25px;
    margin-left: 20px;
    font-size:15px;
}

.follow{
    display: flex;
    font-size:15px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.lavel{
    font-size:15px;
    margin-right: 20px;
}

.btn{
    color: #ffffff;
    background-color: #3f59eb;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    padding: 2px;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
}

#confirm{
    border-bottom: 1px solid #c5c5c5;
}

.follow-btn{
    margin-top: 25px;
    margin-left: auto;
    text-align: right;
    margin-bottom: 20px;
}

.f{
    margin-bottom: 25px;
    font-size:15px;
    display: inline;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.search-btn{
    margin-top: 25px;
    margin-left: auto;
    text-align: center;

}

.s{
    margin-bottom: 25px;
    font-size:15px;
    display: inline;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
/* main content */


#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 79%;
}
#side-bar{
    flex: 0 0 20%;
    border-left: 1px solid #727272;
}

.tweet-form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    border: none;
	border-bottom: 10px solid #dddddd;


}

.focus_line{
    border: none;
	border-bottom: 10px solid #1b2538;

}

.tweet-icon{
    margin-left: 100px;
}

.tweet-input{
    width: 750px;
    height: 120px;
    margin-left: 20px;
    text-align: center;
    border: none;
}

.tweet-button{
    width: 80px;
}

.posts{
    border-bottom: 2px solid #d1d1d1;
}

.post-box{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 175px;
}

.post-created_at{
    text-align: right;
}

.n-c-box{
    /* display: flex; */
    flex-wrap: nowrap;
    /* text-align: right; */
}

.post-post{
    max-width: 700px;
}

.u-d-box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

.js-modal-open{
    max-width: 30px;
    max-height: 30px;
}

.post-trash{
    max-width: 50px;
    max-height: 50px;
}

/* search area */

.search{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 50px;


}

.search-form{
    width: 30%;
    max-height: 20px;
    margin-right: 30px;
    }

.search-input{
        width: 100%;
        height: 30px;
    }

.search-button{
        height: 50px;
}

/*ツイート編集モーダル*/
.content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
