@charset "utf-8";
html{
}
body{
}
/* header */
header{

}

#head{
    background:#186AC9;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.head-menu{
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0 0 90px;
}

.head-name{
    padding: 15px 0 0 0;
    width: 100px;
    color: #fff;
}
.top_head_logo{
    width: 100px;
    padding: 15px;
}

#ac-menu{
    text-align: right;
    margin-left: auto;
}

.menu{
    width: 20%;
    text-align: center;
    margin-left: auto;
}

.menu__item {
  background: #186AC9;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-bottom: 1px;
  position: relative;
}
.menu__item__link {
  color: #fff;
  display: block;
  padding: 1rem;
}

.submenu {
  background: #fff;
  display: none;
}
.submenu__item {
  border-bottom: 1px solid #000080;
  color: #a9a9a9;
  padding: 1rem;
}

.text{
    color: #000;
}

/* a:visited{
    color: #fff;
} */

.icon{
    width: 50px;
    height: 50px;
}

/* side ber */

#side-bar{
 max-width: 90%;
}

.name{
    margin-top: 25px;
    margin-left: 20px;
    font-size:15px;
}

.follow{
    display: flex;
    font-size:15px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.lavel{
    font-size:15px;
    margin-right: 20px;
}

.btn{
    color: #ffffff;
    background-color: #3f59eb;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    padding: 2px;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
}

#confirm{
    border-bottom: 1px solid #c5c5c5;
}

.follow-btn{
    margin-top: 25px;
    margin-left: auto;
    text-align: right;
    margin-bottom: 20px;
}

.f{
    margin-bottom: 25px;
    font-size:15px;
    display: inline;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.search-btn{
    margin-top: 25px;
    margin-left: auto;
    text-align: center;

}

.s{
    margin-bottom: 25px;
    font-size:15px;
    display: inline;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.text{
    color: #fff;

}

.submenu__item:hover{
    background-color: #000080;
}

.submenu__text:hover{
    color: #fff;
}
/* ツイート画面 */


#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 79%;
}
#side-bar{
    flex: 0 0 20%;
    border-left: 1px solid #727272;
}

.tweet{
    border-bottom: 10px solid #dddddd;
}

.tweet-form{
    padding: 40px 0 0 90px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    border: none;

}

.tweet-post-form{
    display: flex;
    flex-wrap: nowrap;
}

.tweet-input{
    width: 750px;
    height: 120px;
    margin-left: 20px;
    text-align: top;
    border: none;
}

.tweet-button{
    width: 100px;
    height: 100px;
    padding: 50px 0 0 0;
}


.li{
    list-style:none;
    display:flex;
    }

.posts-list{
    border-bottom: 2px solid #d1d1d1;
    padding: 10px 10px 10px 140px;
}

.post-created_at
{
width: 400px;
padding:15px;
}
.post-content{
        width:100%;
        padding:15px;
    }

.post-content > div{
        display:flex;
        justify-content:space-between;
    }

.post-name{
        margin-bottom:10px;
      }

.posts{
    display: flex;
    flex-wrap: nowrap;
}

.post-box{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-created_at{
    text-align: right;
}

.n-c-box{
    display: flex;
    flex-wrap: nowrap;
}

.post-update{
    padding: 10px 10px 0 0;
}

.post-post{
    max-width: 700px;
}

.u-d-box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

.js-modal-open{
    max-width: 40px;
    max-height: 40px;
}

.post-trash{
    max-width: 60px;
    max-height: 60px;
}

.post-trash.change{
    max-width: 100px;
    max-height: 100px;
    background-image: url("../images/trash.png");
}

/* 検索エリア */

.search{
    border-bottom: 10px solid #dddddd;
}

.search-form{
    padding: 40px 0 40px 90px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    }

.search-list{
    display: flex;
}
.search-input{

    width: 300px;
    height: 40px;
}

.search-input-b{
    padding: 0 20px 0 0;
}
.search-primary{
    padding: 15px 0 0 215px;
}
.search-form-box{
    display: flex;
    flex-wrap: nowrap;
    font-size: 20px;

}

.search-button{
    height: 50px;
    width: 50px;
}

.search-box{
    display: flex;
    flex-wrap: nowrap;
    padding: 0 0 30px 340px;

}

.search-icon{
    padding: 0 0 0 0;
}

.search-name{
    padding: 15px 0 0 40px;
    width: 120px;
}

.search-follow-btn{
    padding: 0 0 0 202px;
    justify-content: left;
}

/*ツイート編集モーダル*/
.content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 50%;
    border-radius: 15px;
}

.modal_post{
    left: 50%;
    top: 41%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 91%;
    height: 57%;

}

.modal_btn{
    left: 93%;
    top: 82%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 5%;
}


/* フォローリスト */

.list{
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 10px 10px 30px;
    border-bottom: 10px solid #dddddd;
}

.list-title{
    font-size: 25px;
    padding: 13px 78px 0 63px;
}
.list-icon{
    display: inline;
    flex-wrap: nowrap;
    padding: 0 0 0 10px;
}
.btn-danger{
    background-color: rgb(215, 52, 52);
    width: 130px;
}

.btn-primary{
    background-color: rgb(100, 184, 237);
    width: 130px;
}


/* プロフィールエリア */


.profile-wrapper{
    display: flex;
    flex-wrap: nowrap;
    padding: 5% 30% 20% 20%;              /* 余白指定 */    /* 背景色指定 */
    position: relative;
}

.profile-icon{
    padding: 0 30px 0 0;
}

.profile-form-f{
    display: flex;
    flex-wrap: nowrap;
    padding: 0 0 40px 0;

}

.label-control{
    width: 220px;
}

.form-control{
    width: 385px;
    height: 30px;
    background-color: #e9e9e9;
    border: 2px solid #9b9b9b;
}

.image-form-control{
    background-color: #e9e9e9;
    border: 2px solid #9b9b9b;
    text-align: center;
    width: 385px;
    height: 100px;
}

.file-image{
    padding: 10px 40px;
    color: #d1d1d1;
    background-color: #ffffff;
    cursor: pointer;
}

.file-control{
    padding: 40px 0 0 0;
}

input[type="file"] {
    display: none;
}



.profile-form-btn{
    padding: 40px 0 0 120px;
    width: 385px;
}

.btn-success{
    background-color: #ff6d6d;
}



/* 他ユーザープロフィール */

.profile-follow-wrapper{
    display: flex;
    flex-wrap: nowrap;
    padding: 27px 10px 29px 113px;
    border-bottom: 10px solid #dddddd;
}

.profile-follow-list{
    padding: 0 0 0 10px;
}

.profile-name{
    margin-bottom: 30px;
}

.follow-button{
    padding: 35px 0 0 523px;
}
